<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prime Bank of India - SecurityPlus</title>
    
  <link rel="stylesheet" href="/static/css/styles.css">
 
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <style>
    /* Navbar styling */
    .navbar-custom {
      background-color: navy;
      color: white;
    }
    /* Footer styling */
    .footer {
      background-color: navy;
      color: white;
      text-align: center;
      padding: 10px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="#" style="color: white;">Prime Bank of India - SecurityPlus</a>
</nav>       
  


      <div class="card-wrapper">
  
        <div class="card">
    
          <h1 class="center">Log In</h1>
    
          <form name="login_form">
    
            <label for="email" class="la">Email</label>
            <input type="email" name="email" class="field" required>
    
            <label for="password" class="la">Password</label>
            <input type="password" name="password" class="field" required>
    
            <p class="error error--hidden"></p>
    
            <input type="submit" value="Log In" class="btn">
          
          </form>
          
        </div>
      
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> 

      <script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script>
  
  <footer class="footer">
    <p>&copy; 2024_Coders Admin Panel</p>
  </footer>

  <!-- jQuery and Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
